.AboutBanner__Contrainer {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    height: 223px;
    border-radius: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/images/ABOUTBANNER.png");
}