.Main__Container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Cards__Container {

    background-color: #F7F7F7;

    max-width: 1240px;

    margin-left: auto;
    margin-right: auto;
    
    padding-top: 30px;
    padding-bottom: 30px;

    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.Cards__link {
    height: 340px;
    width: 340px;

    border-radius: 15px;
    
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    overflow: hidden;
    object-fit: cover;

    position: relative;

    transition: all 0.3s;

}

.Cards__link:hover {
    scale: 1.03;
}

.Cards__image {
    height: 340px;

    z-index: 0;

}

.Cards__title {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: absolute;

    bottom: 0;
    margin: 0;
    
    padding: 350px 15px 15px 15px;
    
    color: white;
    width: 95%;
    transition: all 0.4s;
}

.Cards__title:hover {
    background: rgba(0, 0, 0, 0.15);
}